mixin card(data)
    .card(class=`card-${data.imageName}`)
        img.card__image(class=`card__image-${data.imageName}` src=require(`./images/${data.imageName}_card_image.svg`) alt=data.imageName height=data.height width=data.width)
        h3.card__header= data.header
        p.card__text= data.text
        button.card__button= data.buttonText
